@font-face {
    src: url("x14y24pxHeadUpDaisy.ttf");
}

#box {
    -fx-background-color: transparent;
}

#root {
    -fx-background-color: black;
    -fx-font-family: 'x14y24pxHeadUpDaisy';
}

#container {
    -fx-background-color: #080808;
}

.label {
    -fx-text-fill: white;
}

.button {
    -fx-pref-height: 50px;
    -fx-pref-width: 200px;
    -fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-padding: 2px 0 0 0;
    -fx-border-width: 0 0 2px 0;
    -fx-background-color: transparent;
    /*transparent*/
}

.button:hover {
    -fx-padding: 0;
    -fx-border-width: 2px 0;
}

.title {
    -fx-font-size: 50px;
}

.left {
    -fx-pref-width: 100px;
    -fx-pref-height: 50px;
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-border-width: 0 2px 0 0;
}

.right {
    -fx-pref-width: 100px;
    -fx-pref-height: 50px;
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-border-width: 0 0 0 2px;
    -fx-translate-x: 100px;
}

.info {
    -fx-padding: 0 20px;
}

#status .label {
    -fx-font-size: 35px;
}

#remain .label {
    -fx-font-size: 30px;
}

#root .result {
    -fx-background-color: #222;
}

.active {
    -fx-text-fill: green;
}

.bonus {
    -fx-font-size: 20px;
}

.bonusTitle {
    -fx-font-size: 30px;
}

.bonus .rainbow {
    -fx-font-size: 30px;
    -fx-text-fill: linear-gradient(to right,red,orange,yellow,green,aqua,blue,purple);
}

.result .label {
    -fx-font-size: 48px;
}

.result .button {
    -fx-pref-width: 100px;
}

.levelTitle {
    -fx-font-size: 72px;

}

.testClass {
    -fx-background-color: transparent;
}

.testClass2 {
    -fx-background-color: lawngreen;
}

.test1 {
    -fx-background-color: red;
}

.test2 {
    -fx-background-color: green;
}

.test3 {
    -fx-background-color: blue;
}
